{% extends "base.html" %}
{% autoescape None %}

{%block main %}
    <div class="ias-container">
      {% for item in links %}
        <div class="ias-item link">
          {% if 'highlight' in item and 'title' in item['highlight'] %}
            <a href="{{item['_source']['url']}}" class="title" target="_blank">{{item['highlight']['title'][0]}}</a>
          {% else %}
            <a href="{{item['_source']['url']}}" class="title" target="_blank">{{item['_source']['title']}}</a>
          {% end %}
          <p class="time">{{item['_source']['url']}}, &nbsp;{{item['_source']['create_time']}}</p>

          {% if 'highlight' in item and 'full_text' in item['highlight'] %}
            <p class="full-text">
              {% for hl in item['highlight']['full_text'] %}
                {{hl}}...
              {% end %}
            </p>
          {% end %}
        </div>
      {% end %}
      <div class="ias-pager">
        <a class="next" href="{{next_page_url}}">下页</a>
      </div>
    </div>
{% end %}
